<!DOCTYPE html>
<html>
<head>
    <title>Verbs ending with NTEMPLATE</title>
</head>
<body>

<h1>Verbs ending with NTEMPLATE</h1>

<p><a href="../../../../../../../../../index.html">Back to main index...</a></p>
<p><a href="../verbs_ending_with_template.html">Back to Verbs Ending with <strong>TEMPLATE</strong>...</a></p>
<p>
<ul>
    <li>Filter to verbs ending with: <a href="ontemplate/verbs_ending_with_ontemplate.html"><strong>O</strong>NTEMPLATE (1)</a></li>
</ul>
</p>

<h2>Verbs ending with NTEMPLATE (1)</h2>
<ul>
    <li>contemplate</li>
</ul>
</body>
</html>
